@use "variables" as vars; // Importa _variables.scss con alias "vars"
@use "mixins"; // Importa _mixins.scss sin alias (por defecto "mixins")

body {
  font-family: vars.$font-stack;
  margin: 0;
  padding: 0;
}


