.back-bar {
    background-color: white;
    padding: 6px 100px; // ⬅️ Menor padding que el navbar
    display: flex;
    align-items: center;
    justify-content: flex-start;

  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: opacity 0.2s ease;
  
    &:hover {
      opacity: 0.6;
    }
  }
  