.phone-card {
  position: relative;
  width: 100%;
  max-width: 240px;
  height: auto;
  border: 0.5px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    z-index: 0;
    transition: height 0.7s cubic-bezier(0.15, 1, 0.5, 1);
  }

  &:hover::before {
    height: 100%;
  }

  &__header,
  &__main {
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
  }

  &__header {
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
  }

  &__main {
    justify-content: space-between;
    align-items: flex-end;
    gap: 8px;
  }

  &__image-wrapper {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__image {
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__brand,
  &__name,
  &__price {
    position: relative;
    z-index: 1;
    color: black;
    transition: color 0.4s ease 0.15s;
  }

  &__brand {
    font-size: 12px;
    font-weight: 300;
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
  }

  &__price {
    font-size: 12px;
    font-weight: 300;
    text-align: right;
  }

  &:hover {
    .phone-card__brand,
    .phone-card__name,
    .phone-card__price {
      color: white;
      transition: color 0.18s ease 0.10s;
    }
  }
}
